.movie-card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.4rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px gray;
  transition: 0.3s;
}

.movie-card .noimg {
  height: 150px;
  margin: auto;
  display: grid;
  place-content: center;
}

.movie-card img {
  width: 100%;
  margin: 1rem auto;
}

.movie-card:hover {
  transform: scale(1.02);
}
